#root {
  text-align: center;
}

.discover-main{
  width: 100vw;
  background-color:#836EAA;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 100px 0 50px;
}

.userprofile-main{
  width: 100vw;
  background-color:#836EAA;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 100px 0 50px;
}

.login-main{
  width: 100vw;
  height: 100%;
  background-color:#836EAA;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 100px 0 50px;
  font-family: "Segoe UI", sans-serif;
}

.signup-form{
  background: white;
  display: flex; 
  flex-direction: column; 
  justify-content: space-around; 
  width: 20vw;
  height: 30vw;
  align-items: flex-start;
  border: 3px solid grey;
  border-radius: 10px;
  padding: 10px 0 0 20px;
}

.signup-form label {
  font-weight: 600;
}

.signup-form input::placeholder {
  color: #4E2A84; 
  opacity: 0.7;
}

.signup-form input,
.signup-form textarea {
  background-color:#B6ACD1;
  color: black;
  margin-top: 5px;
  padding: 10px 12px;
  border: 1px solid grey;
  border-radius: 8px;
  font-size: 0.95rem;
  transition: all 0.2s ease;
}


.signup-form input:focus,
.signup-form textarea:focus {
  outline: none;
  border-color: #7a5af8;
  box-shadow: 0 0 10px rgba(122, 90, 248, 0.4);
}

.signup-form button {
  margin-top: 10px;
  padding: 10px;
  background-color: #7a5af8;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.signup-form button:hover {
  background-color: #6445d8;
  transform: translateY(-2px);
}


.Profile-card {
  background-color: white;
  color: black;
  border: 2px solid grey;
  padding: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease-in-out;
  border-radius: 10px;
  width: 300px;     
  height: 420px;  
}

.Profile-card img {
  width: 80%;
  height: 150px;             
  object-fit: cover;    
  border-radius: 10px;
}

.Profile-card:hover {
  transform: scale(1.1);
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 1.5vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 10px;
  border: 2px solid #4E2A84;
  font-size: 1.3rem;
  font-weight: 500;
  background-color: #B6ACD1;
  color: #4E2A84;
}

.navbar div{
  cursor: pointer;
  transition: color 0.1s ease;
}

.navbar div:hover { 
  transform: scale(1.1);              
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


